@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$red: #ff3f40;
$beige: #f5f0dd;
$white: #ffffff;
$gray: #313030;

html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1.75;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
    margin: 0;
}

button {
    font: inherit;
}

/* Headings */

h1 {
    font-size: 60px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 25px;
}

/* Container */

.container {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

/* Navigation */

.navigation {
    background: #f6f2f2;
    padding-top: 30px;

    .navigation__inner {
        position: relative;
        height: 90px;
        max-width: 1250px;
        background: $gray;
        display: flex;
        justify-content: center;
        align-items: center;

        .navigation__link {
            font-size: 14px;
            font-weight: bold;
            height: 100%;
            padding: 0px 25px 0px 25px; 
            color: #e0e0e0;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: background 0.2s;
        }
        
        .navigation__link:hover {
            background: $red;
        }
    }
}   

/* Header */

.header {
    width: 100%;
    height: 570px;
    background: #f6f2f2;
    display: flex;
    align-items: center;

    .header__inner {
        height: 100%;
        display: flex;
        justify-content: space-between;

        .header__text {
            height: 100%;
            width: 50%;

            .header__heading {
                letter-spacing: .025em;
                font-weight: 800;
                color: #000;
                line-height: 1.2;
                margin-bottom: 40px;

                span {
                    letter-spacing: .1em;
                }
            }

            .header__paragraph {
                width: 80%;
                opacity: 0.7;
                margin-bottom: 60px;
            }

            .header__button {
                width: 227px;
                height: 55px;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: .025em;
                color: #fff;
                background-color: $red;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: opacity 0.2s;
            }

            .header__button:hover {
                opacity: 0.8;
            }
        }

        .header__video {
            width: 50%;
            display: flex;
            justify-content: flex-end;

            iframe {
                box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

/* PROVIDING SECTION */

.providing {
    width: 100%;
    height: 690px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;

    .providing__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 110px;

        .providing__text {
            width: 50%;

            .providing__heading {
                text-transform: uppercase;
                letter-spacing: .001;
                line-height: 1.3;
                font-weight: 700;
                opacity: .7;
                margin-bottom: 50px;
            }

            .providing__paragraph {
                width: 80%;
                margin-bottom: 60px;
            }

            .providing__button {
                width: 227px;
                height: 55px;
                border: 2px solid $red;
                border-radius: 5px;
                color: $red;
                font-size: 18px;
                font-weight: bold;
                background: none;
                cursor: pointer;
                transition: background .2s;
            }

            .providing__button:hover {
                background: $red;
                color: $white;
            }
        }

        .providing__items {
            width: 50%;
            display: flex;
            flex-wrap: wrap;

            .providing__item {
                width: 50%;
                margin-bottom: 55px;

                img {
                    margin-bottom: 10px;
                }

                .providing__item__heading {
                    opacity: .75;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                .providing__item__paragraph {
                    width: 100%;
                    letter-spacing: 0.001em;
                    opacity: .85;
                }
            }

            .providing__item:nth-child(1) {
                padding-right: 50px;
            }

            .providing__item:nth-child(3) {
                padding-right: 50px;
            }

        }
    }
}

.providing::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    max-width: 1250px;
    background-color: #ececec;
    margin: 0 auto;
}

/* FEATURES SECTION */

.features {
    width: 100%;
    margin-top: 105px;
    margin-bottom: 70px;

    .features__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .features__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 90px;

            .features__heading {
                text-transform: uppercase;
                opacity: .8;
                font-weight: bold;
                letter-spacing: 0.001em;
                margin-bottom: 10px;
            }

            .features__paragraph {
                text-align: center;
                width: 500px;
                opacity: .7;
                margin-bottom: 30px;
            }
        }

        .features__text::after {
            content: "";
            display: block;
            height: 2px;
            width: 131px;
            background-color: $red;
        }

        .features__tabs {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .features__tabs__radios {
                width: 900px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 65px;

                input {
                    display: none;
                }

                label {

                    .tab__element {
                        font-size: 22px;
                        font-weight: 600;
                        opacity: .85;
                        cursor: pointer;
                        transition: opacity .2s, color .2s;
                    }

                    .tab__element:hover {
                        opacity: .7;
                    }   
                }

                input:checked + label > .tab__element {
                    color: $red;
                    opacity: 1;
                }
            }

            .features__tabs__content {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .features__tab {
                    width: 300px;
                    height: 290px;
                    background: $beige;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

        }
    }
}

/* MEET SECTION */

.meet {
    width: 100%;
    margin-bottom: 110px;

    .meet__inner {

        .meet__text {
            display: flex;
            flex-direction: column;
            margin-bottom: 70px;

            .meet__heading {
                opacity: .7;
                text-transform: uppercase;
                letter-spacing: 0.001em;
                padding: 0;
                margin-bottom: 25px;
            }

            .meet__paragraph {
                width: 450px;
                opacity: .7;
                margin-bottom: 30px;
            }
        }

        .meet__text::after {
            content: "";
            display: block;
            width: 130px;
            height: 2px;
            background-color: $red;
        }


        .meet__team {
            display: flex;

            .meet__team__main__image {
                display: block;
                width: 320px;
                height: 450px;
                background: $beige;
                margin-right: 70px;
            }

            .meet__team__main {
                height: 450px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;


                .meet__team__text {
    
                    .meet__team__heading {
                        /* Custom font-size: 30px */
                        font-size: 30px;
                        text-transform: uppercase;
                        opacity: .8;
                        letter-spacing: 0.001em;
                        font-weight: 600;
                    }
    
                    .meet__team__paragraph {
                        opacity: .7;
                        width: 630px;
                    }
                }
    
                .meet__team__socialbar {
                    width: 370px;
                    display: flex;
                    justify-content: space-between;

                    .meet__sociallink {
                        font-size: 15px;
                        font-style: italic;
                        color: #000;
                        opacity: .8;
                        text-decoration: none;
                    }

                    .meet__sociallink:hover {
                        font-size: 15px;
                        font-style: italic;
                        color: #000;
                        opacity: .8;
                        text-decoration: none;
                    }
                }
    
                .meet__team__imagebar {
                    width: 850px;
                    display: flex;
                    justify-content: space-between;
    
                    .meet__team__image {
                        width: 200px;
                        height: 210px;
                        background: $beige;
                        cursor: pointer;
                    }

                    .name {
                        color: rgba(255, 255, 255, 1);
                        width: 100%;
                        height: 40px;
                        background-color: #000;
                        margin-top: 170px;
                        opacity: .6;
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        visibility: hidden;
                        animation: name-animation-2 .5s;
                    }

                    .meet__team__image:hover > .name {
                        visibility: visible;
                        animation: name-animation-1 .5s;
                    }
                }
            }
        }
    }
}

/* SUBSCRIBE SECTION */

.subscribe {
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $beige;
    color: white;

    .subscribe__text {
        display: flex;
        flex-direction: column;
        align-items: center;

        .subscribe__heading {
            letter-spacing: 0.025em;
            margin-bottom: 20px;
        }

        .subscribe__paragraph {
            margin-bottom: 60px;
        }
    }

    .subscribe__form {
        display: flex;
        justify-content: center;

        
        .subscribe__form__input {
            width: 480px;
            height: 80px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            letter-spacing: 0.025em;
            margin-right: 25px;
            padding-left: 40px;
            outline: none;
            transition: border .3s;
        }

        .subscribe__form__input:invalid {
            border: 2px solid $red;
        }

        .subscribe__form__input:valid {
            border: 2px solid #5fc82e;
        }

        .subscribe__form__button {
            width: 215px;
            height: 80px;
            border: none;
            border-radius: 5px;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 34px;
            font-weight: 600;
            color: #fff;
            background-color: #ff2d2d;
            letter-spacing: 0.1em;
            text-rendering: geometricPrecision;
            cursor: pointer;
            transition: opacity .2s;
        }

        .subscribe__form__button:hover {
            opacity: .8;
        }
    }
}

/* MESSAGE SECTION */

.message {
    margin-bottom: 110px;
    margin-top: 110px;

    .container__custom {
        margin: 0;
        padding-left: calc((100% - 1250px) / 2);
    }
    .message__inner {

        .message__text {
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 80px;
            .message__heading {
                text-transform: uppercase;
                opacity: .8;
                letter-spacing: .001em;
            }

            .message__paragraph {
                width: 730px;
                opacity: .7;
            }
        }

        .message__text::after {
            content: "";
            display: block;
            width: 130px;
            height: 2px;
            background-color: $red;
        }
        .message__inner__group {
            display: flex;
            justify-content: space-between;

            .message__form {
                height: 480px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-right: 110px;
    
                .message__form__group {
                    width: 730px;
                    display: flex;
                    justify-content: space-between;
    
                    .message__name {
                        width: 340px;
                        height: 70px;
                        padding-left: 60px;
                        border: none;
                        background-color: #e5e5e5;
                        font-size: 18px;
                        border-radius: 13px;
                        outline: none;
                    }
                    .message__email {
                        width: 340px;
                        height: 70px;
                        padding-left: 60px;
                        border: none;
                        background-color: #e5e5e5;
                        font-size: 18px;
                        border-radius: 13px;
                        outline: none;
                    }
    
                    .message__name::placeholder {
                        letter-spacing: 0.025em;
                    }
    
                    .message__name::placeholder, .message__email::placeholder {
                        color: black;
                        opacity: .7;
                    }
                }
                
                .message__message {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 500;
                    width: 730px;
                    height: 250px;
                    border: none;
                    border-radius: 13px;
                    background-color: #e5e5e5;
                    font-size: 18px;
                    resize: none;
                    outline: none;
                    padding-left: 60px;
                    padding-top: 35px;
                }
    
                .message__message::placeholder {
                    font-weight: 500;
                    color: black;
                    opacity: .7;
                }
    
                .message__button {
                    width: 730px;
                    height: 70px;
                    font-size: 18px;
                    letter-spacing: 0.025em;
                    background-color: $red;
                    border-radius: 5px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #fff;
                    outline: none;
                    border: none;
                }
            }
    
            .message__contact {
                background-color: #2d2d2d;
                color: white;
                padding-left: 80px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .message__contact__heading {
                    text-transform: uppercase;
                    font-size: 18px;
                    opacity: .8;
                    letter-spacing: 0.025em;
                    margin-bottom: 40px;
                }
    
                .message__contact__address {
                    width: 290px;
                    opacity: .8;
                    margin-bottom: 30px;
                }
    
                .message__contact__email {
                    opacity: .8;
                    margin-bottom: 30px;
                }
                .message__contact__number {
                    opacity: .8;
                }
            }
        }
    }
}

.footer {
    display: flex;
    align-items: center;
    height: 110px;
    background-color: #313030;

    .footer__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer__paragraph {
            color: #b8b8b8;
        }
    
        .footer__socialbar {
            display: flex;
            justify-content: space-between;
            width: 185px;
    
            .footer__socialicon {
                width: 35px;
                height: 35px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: #313030;
            }

            .footer__socialicon:hover {
                opacity: .8;
            }
        }
    }
}

@keyframes name-animation-1 {
    from {
        height: 0px;
        margin-top: 210px;
    }
    to {
        height: 40px;
        margin-top: 170px;
    }
}

@keyframes name-animation-2 {
    from {
        height: 40px;
        margin-top: 170px;
        visibility: visible;
    }
    to {
        height: 0px;
        margin-top: 210px;
        visibility: hidden;
    }
}

